body {
    text-align: center;
    margin: 0;
    font-family: fantasy;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    color: rgb(234, 10, 129);
    background-color: rgb(255, 129, 192);
    padding: 20px 0;
    width: 100%;
}
#name {
    -webkit-text-stroke: 0.25px black;
    font-size: 36px;
}
#variant {
    font-size: 24px;
}
#clock-display {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: rgb(172, 0, 92);
    margin-top: 40px;
    border: 2px solid rgb(172, 0, 92);
    padding: 10px 15px;
    border-radius: 8px;
    background-color: rgb(255, 153, 204);
}
#main-link {
    margin-top: 50px;
    font-size: 20px;
}
#main-link a {
    text-decoration: none;
    color: rgb(234, 10, 129);
    border: 2px solid rgb(172, 0, 92);
    padding: 10px 15px;
    border-radius: 8px;
    background-color: rgb(255, 153, 204);
}
#main-link a:hover {
    background-color: #E3EDFA;
}
